<div class="layuimini-container layuimini-page-anim">
  <div class="layuimini-main">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>填写实施基础内容</legend>
    </fieldset>

    <form class="layui-form" action="" id="form" name="form">
      <!--隐藏planId 所属阶段ID
      planId
      -->
      <div class="layui-form-item layui-form-text">
        <input id="planId" name="planId" type="text" class="layui-input"
               style="display: none;" th:value="${planId}">
      </div>
      <!--富文本编辑器-->
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">实施纪要</label>
        <div class="layui-input-inline" id="editor">   <!--style="margin: 100px 0 100px 0"-->
          <p>请输入实施纪要</p>
        </div>
      </div>
      <!--隐藏的文本域，用于同步富文本中的文本内容，然后向后台传值
      content
      -->
      <div class="layui-form-item layui-form-text" style="display: none;">
        <div class="layui-input-block">
          <textarea id="content" name="content" class="layui-textarea"></textarea>
        </div>
      </div>
      <!--实施中遇到的问题
      question
      -->
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">实施中遇到的问题</label>
        <div class="layui-input-block">
          <textarea id="question" name="question" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
      </div>
      <!--实施负责人
      leader
      -->
      <div class="layui-form-item">
        <label class="layui-form-label">实施落实人</label>
        <div class="layui-input-block">
          <input id="leader" name="leader" type="text"  lay-verify="title" autocomplete="off"
                 placeholder="实施落实人" class="layui-input">
        </div>
      </div>
      <!--实施启动日期
      exeStartTime
      -->
      <div class="layui-inline">
        <label class="layui-form-label">实施启动日期</label>
        <div class="layui-input-inline">
          <input id="exeStartTime" name="exeStartTime" class="layui-input timeelement" type="text" lay-verity="date"
                 placeholder="yyyy-MM-dd" autocomplete="off" >
        </div>
      </div>
      <!--实施结束日期
      exeEndTime
      -->
      <div class="layui-inline">
        <label class="layui-form-label">实施结束日期</label>
        <div class="layui-input-inline">
          <input id="exeEndTime" name="exeEndTime" class="layui-input timeelement" type="text" lay-verity="date"
                 placeholder="yyyy-MM-dd" autocomplete="off" >
        </div>
      </div>
      <!--立即提交和重置-->
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="submitAll">立即提交</button>
          <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>

    </form>

  </div>
</div>

<!--JS-->


<!--基础渲染-->
<script type="text/javascript">
  layui.use(['form', 'laydate'], function () {
    <!--渲染select-->
    var form = layui.form;
    var laydate = layui.laydate;
    form.render("select");
    <!--处理日期的显示-->
    lay('.timeelement').each(function () {
      laydate.render({
        elem:this,
        trigger:'click'
      })
    })
  })
</script>

<!--处理表单提交-->
<script type="text/javascript">
  var action = 'execute/SubmitExecute';
  layui.use('epmsForm', function () {
    var epmsForm = layui.epmsForm;
    epmsForm.submitAll(action, 0);  //0表示当前页面不是子页面（是父页面），不需要进行页面跳转
  });
</script>

<!--清除所有-->
<script type="text/javascript">
  var $ = layui.jquery;
  $('#reset').click(function () {
    console.log("使用reset");
    layui.use('epmsEditor', function () {
      var epmsEditor = layui.epmsEditor;
      epmsEditor.initEditor("", $('#content'));
    });
  });

</script>
<!--初始化editor-->
<script type="text/javascript">
  layui.use('epmsEditor', function () {
    var epmsEditor = layui.epmsEditor;
    epmsEditor.initEditor("", $('#content'));
  });
</script>