<!--
这里用到了layui的栅格系统与后台布局

-->

<div class="layui-row layui-show-xs-inline">

<div class="timeline-box shadow layui-col-xs6">
    <div class="timeline-main">
        <h1><i class="fa fa-clock-o"></i>一念之间</h1>
        <div class="timeline-line"></div>
        <div class="timeline-year">
            <h2><a class="yearToggle">2019 年</a><i class="fa fa-caret-down fa-fw"></i></h2>
            <div class="timeline-month">
                <ul>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">10月24日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。
                            <br>不枉近百个日日夜夜与之为伴。因小而大，因弱而强。
                            <br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i></div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">09月06日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            <p>杜甫的思想核心是儒家的仁政思想，他有“<em>致君尧舜上，再使风俗淳</em>”的宏伟抱负。个人最爱的名篇有：</p>
                            <ul>
                                <li>《登高》</li>
                                <li>《茅屋为秋风所破歌》</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">08月26日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            中国人民抗日战争胜利72周年
                            <br>常常在想，尽管对这个国家有这样那样的抱怨，但我们的确生在了最好的时代
                            <br>铭记、感恩
                            <br>所有为中华民族浴血奋战的英雄将士
                            <br>永垂不朽
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="timeline-year">
            <h2><a class="yearToggle">2018 年</a><i class="fa fa-caret-down fa-fw"></i></h2>
            <div class="timeline-month">
                <ul>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">10月24日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。
                            <br>不枉近百个日日夜夜与之为伴。因小而大，因弱而强。
                            <br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i></div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">09月06日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            <p>杜甫的思想核心是儒家的仁政思想，他有“<em>致君尧舜上，再使风俗淳</em>”的宏伟抱负。个人最爱的名篇有：</p>
                            <ul>
                                <li>《登高》</li>
                                <li>《茅屋为秋风所破歌》</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">08月26日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            中国人民抗日战争胜利72周年
                            <br>常常在想，尽管对这个国家有这样那样的抱怨，但我们的确生在了最好的时代
                            <br>铭记、感恩
                            <br>所有为中华民族浴血奋战的英雄将士
                            <br>永垂不朽
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>

        <h1 style="padding-top:4px;padding-bottom:2px;margin-top:40px;"><i class="fa fa-hourglass-end"></i>THE END</h1>
    </div>
</div>

<!------------------------------------------------------------------>

<div class="timeline-box shadow layui-col-xs6">
    <div class="timeline-main">
        <h1><i class="fa fa-clock-o"></i>一念之间</h1>
        <div class="timeline-line"></div>
        <div class="timeline-year">
            <h2><a class="yearToggle">2019 年</a><i class="fa fa-caret-down fa-fw"></i></h2>
            <div class="timeline-month">
                <ul>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">10月24日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。
                            <br>不枉近百个日日夜夜与之为伴。因小而大，因弱而强。
                            <br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i></div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">09月06日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            <p>杜甫的思想核心是儒家的仁政思想，他有“<em>致君尧舜上，再使风俗淳</em>”的宏伟抱负。个人最爱的名篇有：</p>
                            <ul>
                                <li>《登高》</li>
                                <li>《茅屋为秋风所破歌》</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">08月26日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            中国人民抗日战争胜利72周年
                            <br>常常在想，尽管对这个国家有这样那样的抱怨，但我们的确生在了最好的时代
                            <br>铭记、感恩
                            <br>所有为中华民族浴血奋战的英雄将士
                            <br>永垂不朽
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="timeline-year">
            <h2><a class="yearToggle">2018 年</a><i class="fa fa-caret-down fa-fw"></i></h2>
            <div class="timeline-month">
                <ul>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">10月24日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。
                            <br>不枉近百个日日夜夜与之为伴。因小而大，因弱而强。
                            <br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i></div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">09月06日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            <p>杜甫的思想核心是儒家的仁政思想，他有“<em>致君尧舜上，再使风俗淳</em>”的宏伟抱负。个人最爱的名篇有：</p>
                            <ul>
                                <li>《登高》</li>
                                <li>《茅屋为秋风所破歌》</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="h4 animated fadeInLeft">
                            <p class="date">08月26日</p>
                        </div>
                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                        <div class="content animated fadeInRight">
                            中国人民抗日战争胜利72周年
                            <br>常常在想，尽管对这个国家有这样那样的抱怨，但我们的确生在了最好的时代
                            <br>铭记、感恩
                            <br>所有为中华民族浴血奋战的英雄将士
                            <br>永垂不朽
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>

        <h1 style="padding-top:4px;padding-bottom:2px;margin-top:40px;"><i class="fa fa-hourglass-end"></i>THE END</h1>
    </div>
</div>

</div>