<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>页面出错</title>

    <!--公共样式-->
    <link rel="stylesheet" type="text/css" href="../css/404/H-ui.reset.css">

    <!--主要样式-->
    <link rel="stylesheet" type="text/css" href="../css/404/index.css">

</head>
<body>

    <div class="system">
        <img src="images/404.png">
        <div class="title">
            <h2>页面出错</h2>
            <h4>请刷新重试！</h4>
            <h4>给您带来的不便，敬请谅解！</h4>
        </div>
    </div>

</body>
</html>