<div class="layuimini-container layuimini-page-anim">
  <div class="layuimini-main">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>填写培训内容</legend>
    </fieldset>

    <form class="layui-form" action="" id="form" name="form">
      <!--富文本编辑器-->
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">会议纪要</label>
        <div class="layui-input-inline" id="editor">   <!--style="margin: 100px 0 100px 0"-->
          <p>请输入培训纪要</p>
        </div>
      </div>
      <!--隐藏的文本域，用于同步富文本中的文本内容，然后向后台传值
      content
      -->
      <div class="layui-form-item layui-form-text" style="display: none;">
        <div class="layui-input-block">
          <textarea id="content" name="content" class="layui-textarea"></textarea>
        </div>
      </div>
      <!--会议中提出的问题
      question
      -->
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">培训中提出的问题</label>
        <div class="layui-input-block">
          <textarea id="question" name="question" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
      </div>
      <!--参与人员
      partner
      -->
      <div class="layui-form-item">
        <label class="layui-form-label">参与人员</label>
        <div class="layui-input-block">
          <input id="partner" name="partner" type="text"  lay-verify="title" autocomplete="off"
                 placeholder="请输入内容" class="layui-input">
        </div>
      </div>
      <!--组织人员
      organize
      -->
      <div class="layui-form-item">
        <label class="layui-form-label">培训组织者</label>
        <div class="layui-input-block">
          <input id="organize" name="organize" type="text"  lay-verify="title" autocomplete="off"
                 placeholder="培训组织者" class="layui-input">
        </div>
      </div>
      <!--会议类型
      type
      -->
      <div class="layui-form-item">
        <label class="layui-form-label">培训类型</label>
        <div class="layui-input-block">
          <select id="type" name="type" lay-filter="type">
            <option value=""></option>
            <option value="部门内部培训">内部培训</option>
            <option value="公司级培训">公司级培训</option>
            <option value="外部培训">外部培训</option>
          </select>
        </div>
      </div>
      <!--开会时间
      meetingTime
      -->
      <div class="layui-inline">
        <label class="layui-form-label">培训日期</label>
        <div class="layui-input-inline">
          <input id="meetingTime" name="meetingTime" class="layui-input" type="text" lay-verity="date"
                 placeholder="yyyy-MM-dd" autocomplete="off" >
        </div>
      </div>
      <!--立即提交和重置-->
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="submitAll">立即提交</button>
          <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>

    </form>

  </div>
</div>

<!--渲染select-->
<script type="text/javascript">
  layui.use(['form'], function () {
    layui.form.render("select");
  });
</script>

<!--处理日期的显示-->
<script type="text/javascript">
  layui.use(['form', 'laydate'], function () {
    var laydate = layui.laydate;
    laydate.render({
      elem: '#meetingTime'
    })
  })
</script>

<!--向textarea中同步editor中的值-->
<!--没有用，更改了写的位置-->
<script type="text/javascript">
  /**
   *
   * 有一点让人非常不能理解的问题是：
   * layui这里拿到的wangeditor，只能在最开始定义的位置拿到
   * 换了位置重新new   var editor = new wangEditor('#editor');
   * 就不行了
   *
   * **/




  // var $ = layui.jquery;
  // layui.use('wangEditor', function () {
  //     var wangEditor = layui.wangEditor;
  //     var editor = new wangEditor('#editor');
  //     editor.customConfig.onchange = function (html) {
  //         console.log("变化：" + html);
  //         $('#editortext').val(html);
  //     }
  // });

</script>

<!--处理表单提交-->
<script type="text/javascript">
  layui.use(['form', 'layer', 'laydate'], function () {
    var $ = layui.jquery, layer = layui.layer, element = layui.element;
    var form = layui.form;
    form.on('submit(submitAll)', function (data) {
      console.log("当前容器的全部表单字段\n" + JSON.stringify(data.field)); //当前容器的全部表单字段，名值对形式：{name: value}
      var meetingContent = JSON.stringify(data.field);
      //console.log( "ssssss\n" + JSON.stringify($('#form').serialize()));
      $.ajax({
        url: 'train/SubmitTrain',
        type: 'post',
        dataType: 'text',  //从后台返回的值的类型
        contentType: 'application/json',
        data: meetingContent,
        //data:$('#form').serialize(),
        success: function (data1) {
          console.log(data1);
          console.log("ajax返回值：\n" + JSON.stringify(data1.field));
          layer.msg("上传成功！");
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          // 状态码
          console.log(XMLHttpRequest.status);
          // 状态
          console.log(XMLHttpRequest.readyState);
          // 错误信息
          console.log(textStatus);
          // 打印堆栈
          //console.log(errorThrown);
        }
      });

      return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
  });
</script>

<!--清除所有-->
<script type="text/javascript">
  var $ = layui.jquery;
  $('#reset').click(function () {
    console.log("使用reset");
    layui.use('wangEditor', function () {
      var wangEditor = layui.wangEditor;
      var editor = new wangEditor('#editor');
      console.log(editor == null);
    });
    initEditor();
  });

</script>
<!--初始化editor-->
<script type="text/javascript">
  initEditor();
  function initEditor() {
    layui.use(['layer', 'wangEditor'], function () {
      var $ = layui.jquery,
              layer = layui.layer,
              wangEditor = layui.wangEditor;
      var editor = new wangEditor('#editor');
      //这里默认为true，即表示能够使用网络图片
      editor.customConfig.showLinkImg = false;

      //过滤掉复制文本的样式  此处关闭了该功能
      editor.customConfig.pasteFilterStyle = false;

      //自定义上传
      editor.customConfig.customUploadImg = async  (files, insert) => {
        var daw = new FormData();
        for (var i = 0; i < files.length; i++) {
          daw.append("pictures", files[i]);
          console.log(files[i].name)
        }
        console.log("打印FormData  " + daw.toString());
        for (var [a, b] of daw.entries()) {
          console.log(a, b);
        }
        index = layer.load(1, {
          shade: [0.1, '#fff'] //0.1透明度的白色背景
        });

        $.ajax({
          url: "wangEditor/submitMulti",
          type: "POST",
          data: daw,
          async: false,
          cache: false,
          contentType: false,
          processData: false,
          success: function (result) {
            layer.close(index);
            if (result.code == 0) {
              for (var j = 0; j < result.data.length; j++) {
                insert(result.data[j]);
              }
            } else {
              layer.msg(da.msg);
              return;
            }
          },
        });
      };
      editor.customConfig.customAlert = function (info) {
        layer.msg(info);
      }

      editor.customConfig.onchange = function (html) {
        console.log("变化：" + html);
        $('#content').val(html);
      }

      editor.create();
      editor.txt.clear();
      editor.txt.html('<p>请输入培训纪要</p>');

    });
  }
</script>